@font-face {
    font-family: 'dinPro';
    src: url('../fonts/dinpro-bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'dinProMedium';
    src: url('../fonts/dinpro-medium.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'dinProRegular';
    src: url('../fonts/dinpro-regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'myriadPro';
    src: url('../fonts/myriad-pro-regular.ttf ');
    font-style: normal;
    font-weight: normal;
}